@tailwind base;
@tailwind components;
@tailwind utilities;

.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  border-color: #68d391;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  background-color: #68d391;
}

.spinner {
  border: 8px solid silver;
  border-top: 8px solid #337ab7;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 700ms linear infinite;
  top: 47%;
  left: 47%;
  position: absolute;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
